<footer>
  <div class="px-3">
    <div class="theme-container">
      <div class="py-5 content border-lighter">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45">
            <a class="logo" routerLink="/">
              <!--
              <app-logo></app-logo>
            -->
            </a>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-2">
              <mat-icon color="primary">location_on</mat-icon>
              <span class="mx-2">Bogot&aacute;, Colombia</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
              <mat-icon color="primary">call</mat-icon>
              <span class="mx-2">(+100) 123 456 7890</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
              <mat-icon color="primary">mail_outline</mat-icon>
              <span class="mx-2">info@mysandwitch.com</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
              <mat-icon color="primary">schedule</mat-icon>
              <span class="mx-2">Mon - Sun / 9:00AM - 8:00PM</span>
            </p>
            <app-social-icons
              [iconSize]="'lg'"
              fxLayout="row"
              fxLayoutAlign="start center"
              class="desc"
            ></app-social-icons>
          </div>

        

        
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        class="copyright py-2"
      >
        <p ngClass.xs="mt-1">Copyright © 2020 All Rights Reserved</p>
        <p>
         Pontificia Universidad Javeriana
         
        </p>
      </div>
    </div>
  </div>
</footer>
